<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>词汇</title>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
<div align="center">
    <div align="right">
        <a href="javascript:open('/admin')">管理界面</a>
    </div>
    <div id="headDiv" align="center">
        <span id="rootSpan">词根</span>
        <span id="chineseSpan">中文</span>
        <span id="coreWordSpan">核心词+解析</span>
        <span id="nextSpan">下一个</span>

    </div>
    <div id="word"></div>
    <div id="root" class="wordExplain"></div>
    <div id="coreWord" class="wordExplain"></div>
    <div id="note" class="wordExplain"></div>
    <div id="chinese" class="wordExplain"></div>
    <div id="sentence" class="wordExplain"></div>
</div>
<div>
    <table class="table table-striped table-hover wordExplain" id="rootTable"  style="display: none">
        <thead  align="center">
        <tr>
            <td>word</td>
            <td>chinese</td>
        </tr>
        </thead>
        <tbody id="wordtbody" align="left">

        </tbody>
    </table>
</div>
</body>
<div th:include="/footer_js::footer"></div>
<script th:src="@{/js/word.js}"></script>
</html>